/node_modules
/storage/*.key
/*.zip
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/storage/.gitignore
public/storage
logs
storage/app/uploads/documents
storage/app/public
composer.lock

/public/demo_imports/live
/public/data/file
/public/vendor/tinymce/plugins/tiny_mce_wiris/cache