<div id="u2595" class="ax_default label">
<div id="u2595_text" class="text ">
<p style="text-align: center;"><span style="color: #000000;">M&ocirc;n học/hoạt động gi&aacute;o dục:...........................................................;&nbsp;lớp......................</span></p>
<p style="text-align: center;"><span style="color: #000000;">T&ecirc;n b&agrave;i học:......................................................................................;&nbsp;Số tiết:................</span></p>
<p style="text-align: center;"><span style="color: #000000;">Thời gian thực hiện: ng&agrave;y.....th&aacute;ng.......năm........(hoặc từ ..../..../.......đến..../...../........)</span></p>
</div>
</div>
<div id="u2596" class="ax_default label">
<div id="u2596_div" class="">&nbsp;</div>
<div id="u2596_text" class="text ">
<p><span style="color: #000000;">I. Mục đ&iacute;ch y&ecirc;u cầu</span></p>
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 100%;"><br /><br /><br /><br /><br /></td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="u2597" class="ax_default box_1">
<div id="u2597_div" class="">&nbsp;</div>
</div>
<div id="u2598" class="ax_default label">
<div id="u2598_div" class=""><span style="font-size: 13pt; color: #000000;">II. Chuẩn bị</span></div>
</div>
<div id="u2599" class="ax_default box_1">
<div id="u2599_div" class="">
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 100%;"><br /><br /><br /><br /><br /></td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="u2600" class="ax_default label">
<div id="u2600_div" class=""><span style="font-size: 13pt; color: #000000;">III. Nội dung t&iacute;ch hợp</span></div>
</div>
<div id="u2601" class="ax_default box_1">
<div id="u2601_div" class="">
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 100%;"><br /><br /><br /><br /><br /></td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="u2602" class="ax_default label">
<div id="u2602_div" class=""><span style="font-size: 13pt; color: #000000;">IV. C&aacute;ch tiến h&agrave;nh</span></div>
</div>
<div id="u2603" class="ax_default">
<div id="u2604" class="ax_default table_cell">
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 50%; text-align: center;"><span style="color: #000000;">Hoạt động của c&ocirc;</span></td>
<td style="width: 50%; text-align: center;"><span style="color: #000000;">Hoạt động của trẻ</span></td>
</tr>
<tr>
<td style="width: 50%; text-align: center;"><span style="color: #000000;">&nbsp;</span></td>
<td style="width: 50%; text-align: center;"><span style="color: #000000;">&nbsp;</span></td>
</tr>
<tr>
<td style="width: 50%; text-align: center;"><span style="color: #000000;">&nbsp;</span></td>
<td style="width: 50%; text-align: center;"><span style="color: #000000;">&nbsp;</span></td>
</tr>
<tr>
<td style="width: 50%; text-align: center;"><span style="color: #000000;">&nbsp;</span></td>
<td style="width: 50%; text-align: center;"><span style="color: #000000;">&nbsp;</span></td>
</tr>
<tr>
<td style="width: 50%; text-align: center;"><span style="color: #000000;">&nbsp;</span></td>
<td style="width: 50%; text-align: center;"><span style="color: #000000;">&nbsp;</span></td>
</tr>
</tbody>
</table>
<br />
<div id="u2604_text" class="text ">&nbsp;</div>
</div>
<div id="u2605" class="ax_default table_cell">
<div id="u2605_text" class="text ">
<p>&nbsp;</p>
</div>
</div>
<div id="u2606" class="ax_default table_cell">&nbsp;</div>
<div id="u2610" class="ax_default table_cell"><span style="color: #000000;">&nbsp;</span></div>
</div>