<div id="u2535" class="ax_default label">
<div id="u2535_text" class="text ">
<p style="text-align: center;"><span style="color: #000000;">M&ocirc;n học/hoạt động gi&aacute;o dục:...........................................................;&nbsp;lớp......................</span></p>
<p style="text-align: center;"><span style="color: #000000;">T&ecirc;n b&agrave;i học:......................................................................................;&nbsp;Số tiết:................</span></p>
<p style="text-align: center;"><span style="color: #000000;">Thời gian thực hiện: ng&agrave;y.....th&aacute;ng.......năm........(hoặc từ ..../..../.......đến..../...../........)</span></p>
</div>
</div>
<div id="u2535_ann" class="annotation">
<div id="u2535Note" class="annnoteimage">
<div class="annnoteline">&nbsp;</div>
<div class="annnoteline">&nbsp;</div>
<div class="annnoteline"><span style="font-size: 13pt; color: #000000;">1. Y&ecirc;u cầu cần đạt</span></div>
</div>
</div>
<div id="u2536" class="ax_default label">
<div id="u2536_text" class="text ">
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 100%;"><br /><br /><br /><br /><br /><br /></td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="u2537" class="ax_default box_1">
<div id="u2537_div" class=""><br /><br /></div>
</div>
<div id="u2538" class="ax_default label">
<div id="u2538_div" class=""><span style="font-size: 13pt; color: #000000;">2. Đồ d&ugrave;ng dạy học</span></div>
</div>
<div id="u2539" class="ax_default box_1">
<div id="u2539_div" class="">
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 100%;"><br /><br /><br /><br /><br /><br /></td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="u2540" class="ax_default label">
<div id="u2540_div" class="">&nbsp;</div>
<div id="u2540_text" class="text ">
<p><span style="color: #000000;">3. C&aacute;c hoạt động dạy học chủ yếu</span></p>
</div>
</div>
<div id="u2541" class="ax_default box_1">
<div id="u2541_div" class="">
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 100%;"><br /><br /><br /><br /><br /><br /></td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="u2542" class="ax_default label">
<div id="u2542_div" class=""><span style="font-size: 13pt; color: #000000;">4. Điều chỉnh sau b&agrave;i dạy</span></div>
</div>
<div id="u2543" class="ax_default box_1">
<div id="u2543_div" class="">
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 100%;"><br /><br /><br /><br /><br /><br /></td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="u2544" class="ax_default box_1">
<div id="u2544_div" class="">&nbsp;</div>
</div>
<div id="u2545" class="ax_default label">
<div id="u2545_div" class="">&nbsp;</div>
<div id="u2545_text" class="text ">
<table style="border-collapse: collapse; width: 42.5532%; height: 129px;" border="1">
<tbody>
<tr>
<td style="width: 100%;"><span style="color: #000000;">Đ&aacute;nh g&iacute;a, nhận x&eacute;t:&nbsp;</span><br /><br /><br /><br /><br /><br /><br /><br /></td>
</tr>
</tbody>
</table>
</div>
</div>
<div id="u2546" class="ax_default primary_button">&nbsp;</div>