<div id="u1780_div" class=""><span style="font-size: 13pt; color: #000000;"><span style="font-size: 13pt;"><strong>I. Đặc điểm t&igrave;nh h&igrave;nh</strong><br /><br /><strong>1.</strong> Số lớp:...........................; Số học sinh:...................; Số học sinh học chuy&ecirc;n đề lựa chọn(nếu c&oacute;):...................<br /></span></span>
<p><span style="color: #000000;"><strong>2. T&igrave;nh h&igrave;nh đội ngũ</strong>: Số gi&aacute;o vi&ecirc;n: ...........................; Tr&igrave;nh độ đ&agrave;o tạo: Cao đẳng:.............Đại học..........; Tr&ecirc;n đại học:..........</span></p>
<p><span style="color: #000000;">&nbsp; &nbsp; &nbsp;Mức đạt chuẩn nghề nghiệp gi&aacute;o vi&ecirc;n: Tốt...........; Kh&aacute;:.............; Đạt:..............; Chưa đạt:................</span></p>
<strong><span style="color: #000000;">3. Thiết bị dạy học:</span></strong><br /><br />
<table style="border-collapse: collapse; width: 100%;" border="1">
<tbody>
<tr>
<td style="width: 20%; text-align: center;"><strong><span style="color: #000000;">STT</span></strong></td>
<td style="width: 20%; text-align: center;"><strong><span style="color: #000000;">Thiết bị dạy học</span></strong></td>
<td style="width: 20%; text-align: center;"><strong><span style="color: #000000;">Số lượng</span></strong></td>
<td style="width: 20%; text-align: center;"><strong><span style="color: #000000;">C&aacute;c b&agrave;i th&iacute; nghiệm/thực h&agrave;nh</span></strong></td>
<td style="width: 20%; text-align: center;"><strong><span style="color: #000000;">Ghi ch&uacute;</span></strong></td>
</tr>
<tr>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
</tr>
<tr>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;"><span style="color: #000000;">&nbsp;</span></td>
</tr>
</tbody>
</table>
<br /><strong><span style="color: #000000;">4. Ph&ograve;ng học bộ m&ocirc;n/ph&ograve;ng th&iacute; nghiệm/ph&ograve;ng đa năng/s&acirc;n chơi, b&agrave;i tập</span></strong><br /><br />
<table style="border-collapse: collapse; width: 100%; height: 79px;" border="1">
<tbody>
<tr style="height: 45px;">
<td style="width: 20%; height: 45px; text-align: center;"><strong><span style="color: #000000;">STT</span></strong></td>
<td style="width: 20%; height: 45px; text-align: center;">
<div id="u1800" class="ax_default table_cell">
<div id="u1800_text" class="text ">
<p><strong><span style="color: #000000;">T&ecirc;n ph&ograve;ng</span></strong></p>
</div>
</div>
</td>
<td style="width: 20%; height: 45px; text-align: center;"><strong><span style="color: #000000;">Số lượng</span></strong></td>
<td style="width: 20%; height: 45px; text-align: center;"><strong><span style="color: #000000;">Phạm vi v&agrave; nội dung sử dụng</span></strong></td>
<td style="width: 20%; height: 45px; text-align: center;"><strong><span style="color: #000000;">Ghi ch&uacute;</span></strong></td>
</tr>
<tr style="height: 17px;">
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
</tr>
<tr style="height: 17px;">
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;"><span style="color: #000000;">&nbsp;</span></td>
</tr>
</tbody>
</table>
<br /><strong><span style="color: #000000;">II. Kế hoạch dạy học</span></strong><br /><strong><span style="color: #000000;">1. Ph&acirc;n phối chương tr&igrave;nh</span></strong><br />
<table style="border-collapse: collapse; width: 99.9943%; height: 146px;" border="1">
<tbody>
<tr style="height: 45px;">
<td style="width: 20%; height: 45px; text-align: center;"><strong><span style="color: #000000;">STT</span></strong></td>
<td style="width: 20%; height: 45px; text-align: center;">
<div class="ax_default table_cell">
<div class="ax_default table_cell">
<div class="text ">
<p><strong><span style="color: #000000;">B&agrave;i học</span></strong></p>
</div>
</div>
</div>
</td>
<td style="width: 20%; height: 45px; text-align: center;"><strong><span style="color: #000000;">Số tiết</span></strong></td>
<td style="width: 20%; height: 45px; text-align: center;"><strong><span style="color: #000000;">Y&ecirc;u cầu cần đạt</span></strong></td>
</tr>
<tr style="height: 17px;">
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
</tr>
<tr style="height: 17px;">
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
</tr>
</tbody>
</table>
<br /><br /><strong><span style="color: #000000;">2. Kiểm tra, đ&aacute;nh gi&aacute; định kỳ</span></strong><br />
<table style="border-collapse: collapse; width: 100%; height: 79px;" border="1">
<tbody>
<tr style="height: 45px;">
<td style="width: 20%; height: 45px; text-align: center;"><strong><span style="color: #000000;">B&agrave;i kiểm tra, đ&aacute;nh gi&aacute;</span></strong></td>
<td style="width: 20%; height: 45px; text-align: center;">
<div id="u1800" class="ax_default table_cell">
<div id="u1800_text" class="text ">
<p><strong><span style="color: #000000;">Thời gian (1)</span></strong></p>
</div>
</div>
</td>
<td style="width: 20%; height: 45px; text-align: center;"><strong><span style="color: #000000;">Thời điểm (2)</span></strong></td>
<td style="width: 20%; height: 45px; text-align: center;"><strong><span style="color: #000000;">Y&ecirc;u cầu cần đạt (3)</span></strong></td>
<td style="width: 20%; height: 45px; text-align: center;"><strong><span style="color: #000000;">H&igrave;nh thức(4)</span></strong></td>
</tr>
<tr style="height: 17px;">
<td style="width: 20%; height: 17px;"><span style="color: #000000;">Giữa học kỳ 1</span></td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
</tr>
<tr style="height: 17px;">
<td style="width: 20%; height: 17px;"><span style="color: #000000;">Cuối học kỳ 1</span></td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;">&nbsp;</td>
<td style="width: 20%; height: 17px;"><span style="color: #000000;">&nbsp;</span></td>
</tr>
<tr>
<td style="width: 20%;"><span style="color: #000000;">Giữa học kỳ 2</span></td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
</tr>
<tr>
<td style="width: 20%;"><span style="color: #000000;">Cuối học kỳ 2</span></td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
<td style="width: 20%;">&nbsp;</td>
</tr>
</tbody>
</table>
<br />
<p><span style="color: #000000;">(1) Thời gian l&agrave;m b&agrave;i kiểm tra, đ&aacute;nh gi&aacute;.</span></p>
<p><span style="color: #000000;">(2) Tuần thứ, th&aacute;ng, năm thực hiện b&agrave;i kiểm tra, đ&aacute;nh gi&aacute;.</span></p>
<p><span style="color: #000000;">(3) Y&ecirc;u cầu mức độ) cần đạt đến thời điểm kiểm tra, đ&aacute;nh gi&aacute; theo ph&acirc;n phối chương tr&igrave;nh)</span></p>
<p><span style="color: #000000;">(4) H&igrave;nh thức b&agrave;i kiểm tra, đ&aacute;nh gi&aacute;: viết (tr&ecirc;n giấy hoặc tr&ecirc;n m&aacute;y t&iacute;nh); b&agrave;i thực h&agrave;nh; dự &aacute;n học tập</span><br /><br /><strong><span style="color: #000000;">III. C&aacute;c nội dung kh&aacute;c:</span></strong></p>
<table style="height: 34px; width: 100%; border-collapse: collapse; border-style: solid; border-color: #000000; margin-left: auto; margin-right: auto;" border="1">
<tbody>
<tr>
<td style="width: 100%;"><br /><br /><br /><br /><br /><br /><br /></td>
</tr>
</tbody>
</table>
</div>